$darkpurple: hsl(249, 17%, 25%, 100%);
$mediumpurple: hsl(248, 14%, 32%, 100%);
$darkpurpletransparent: hsl(248, 14%, 32%, 80%);

$earthblue: #0098A4;
$lightearthblue: blue;
$lightblue: hsl(184, 100%, 88%);
$earthgreen: #76B240;