@import "../utilities/_variables";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

h1, h2, h3, {
  color: $lightblue;
  font-weight: 200;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
  padding-bottom: 20px;
}

p {
  font-family: heebo;
  color: white;
  padding-bottom: 3px;
  font-size: 12px;
}

