#earth-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#earth-image {
  display: flex;
  justify-content: center;
  align-items: center;
}


#earth{
  width: 250px;
  height: 250px;
  position: absolute;
}

#earth-image:hover #earth {
  animation-name: earth-animation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}


@keyframes earth-animation {
  0%  {width: 250px; height: 250px;}
  40% {width: 350px; height: 350px;}
  50% {width: 350px; height: 350px;}
  60% {width: 350px; height: 350px;}
  100% {width: 250px; height: 250px;}
}

#atmosphere{
  width: 300px;
  height: 300px;
}


#earth-image:hover #atmosphere {
  animation-name: atmosphere-animation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes atmosphere-animation {
  0%  {width: 300px; height: 300px;}
  40% {width: 370px; height: 370px;}
  50% {width: 370px; height: 370px;}
  60% {width: 370px; height: 370px;}
  100% {width: 300px; height: 300px;}
}

#hello-world {
  position: absolute;
  color: white;
  font-size: 14px;
  font-family: "Heebo";
}

.unvisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}
